.account-details-container {
  background-color: #d9ecff;
  width: 80%;
  margin: 40px auto;
  border-radius: 10px;
  padding: 30px;
  font-family: "Arial", sans-serif;
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  background-color: #084c9e;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-section {
  text-align: center;
  margin-top: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.change-pic {
  color: #ffffff;
  background-color: #3a7bd5;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 8px;
  left: 100px;
  cursor: pointer;
}

.info-section {
  background-color: #3a7bd5;
  color: white;
  margin-top: 30px;
  border-radius: 8px;
  padding: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.info-label {
  width: 40%;
  font-weight: bold;
}

.info-input {
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.upgrade-btn {
  background-color: #fff;
  color: #084c9e;
  border: 1px solid #084c9e;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Match the UserAccount styling */
.useraccount-container {
  background: white;
  padding: 12px 20px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: baseline;
  margin: 20px auto;
}

.user-card {
  display: flex;
  align-items: start;
  gap: 30px;
  width: 100%;
  background: transparent;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

.details {
  margin: 2px 0 0 0;
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  padding: 0;
}

.details:hover {
  text-decoration: underline;
}

.save-btn {
  background-color: #fff;
  color: #084c9e;
  border: 1px solid #084c9e;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

