/* ---------- Top-Level Container ---------- */
/*
    Children: * Page-Header
                > Fithub-Logo
                > Usercard
                  > Card2 (declared in .tsx)
                  > User-Info
                    > Username
                      > Details2
                        > Details2: Hover
              * Account-Details-Container
                > Profile-Section
                  > Profile-Pic
                  > Change-Pic
                > Info-Section
                  > Info-Container
                    > Info-Row
                      > Info-Label
                      > Info-Input
                  > Save-and-Upgrade-Container
                    > Upgrade-Btn
                    > Save-Btn
*/
.profile-editor { /* Contains: Page-Header and Account-Details-Container */
  background-color: #d9ecff;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  font-family: "Arial", sans-serif;

  display: block;
  align-items: center;
  justify-content: center;
}

/*---------- Page-Header ----------*/
/* 
    Parent: Profile-Editor (Top-Level Container)

    Children: * Fithub-Logo
              * Usercard
                > Card2 (declared in .tsx)
                > User-Info
                  > Username
                    > Details2
                      > Details2: Hover
*/
.page-header {
  background-color: #3a7bd5;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 10%;
}

.fithub-logo{
  background: white;
  padding: 10px;
  border-radius: 12px;
  width: 200px;
  height: auto;
  gap: 20px;
}

.usercard {
  width: 60%;
  background-color: #335d97;
  padding: 20px;
  border-radius: 12px;
  margin: 5px auto;
  display: flex;
  align-items: right;
  gap: 20px;
}

.card2 {
  background-color: #3a7bd5;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.user-info {
  width: 60%;
  display: flex;
  justify-content: center;
}

.username {
  width: 80%;
  color: white;
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

.details2 {
  color: white;
  margin: 2px 0 0 0;
  font-size: 0.9rem;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  padding: 0;
}

.details2:hover {
  color: white;
  text-decoration: underline;
}


/* ---------- Account-Details-Container ---------- */
/* 
    Parent: Profile-Editor
    Children: * Profile-Section
              * Info-Section
*/
.account-details-container {
  background-color: #d9ecff;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  font-family: "Arial", sans-serif;

  display: block;
  align-items: center;
  justify-content: center;
}

/* ---------- Profile-Section ---------- */
/* 
    Parent: Account-Details-Container
    Children: * Profile-Pic
              * Change-Pic
*/

.profile-section {
  width: 60%;
  background-color: #3a7bd5;
  text-align: center;
  margin: 20px auto;
  border-radius: 8px;
  padding: 20px;
  display: block;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.change-pic {
  max-width: 240px;
  color: #ffffff;
  background-color: #335d97;
  display: block;
  padding: 5px 10px;
  border: 1px solid #335d97;
  border-radius: 6px;
  margin: 10px auto;
  cursor: pointer;
}



/* ---------- Info-Section ---------- */
/* 
    Parent: Account-Details-Container
    Children: * Info-Container
                > Info-Row
                  > Info-Label
                  > Info-Input
              * Save-and-Upgrade Container
                > Upgrade-Btn
                > Save-Btn
              
*/
.info-section {
  width: 60%;
  background-color: #3a7bd5;
  color: white;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
}

.info-container{
  width: 95%;
  background-color: #335d97;
  color: white;
  margin: 20px auto;
  border-radius: 8px;
  padding: 5px;
  display: block;
  align-items: center;
  justify-content: center;
}

.info-row {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  margin-right: 20px;
}

.info-label {
  width: 80%;
  font-weight: bold;
}

.info-input {
  width: 80%;
  padding: 5px;
  border: none;
  border-radius: 4px;
}


/* --- Save-and-Upgrade Container --- */
.save-and-upgrade-container {
  background-color: #335d97;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 5px;
  font-family: "Arial", sans-serif;
}

.upgrade-btn {
  width: 50%;
  background-color: #fff;
  color: #084c9e;
  border: 1px solid #084c9e;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn {
  width: 50%;
  background-color: #fff;
  color: #084c9e;
  border: 1px solid #084c9e;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

