/* Make sure the background fills the full screen */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #4682be; /* change to any color you want */
}

.fithub-logo{
  position: fixed;
  top: 20px;
  left: 50px;
  z-index: 1000;

  background: white;
  padding: 6px;
  border-radius: 12px;
  width: 200px;
  height: auto;
  gap: 20px;

  display: flex;
  align-items: center; /* center content vertically */
  justify-content: center;
}


.goals-container {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 1000;
  background: white;
  padding: 16px;
  border-radius: 12px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Main fixed container */
.useraccount-container {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 1000;

  background: white;
  padding: 12px 20px;
  border-radius: 12px;
  width: 300px;
  height: auto;
  gap: 20px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center; /* center content vertically */
  justify-content: baseline;
}

/* Inner card for content layout */
.user-card {
  display: flex;
  align-items: start;
  gap: 30px;
  width: 100%;
  background: transparent;
}

/* Stack username above details */
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Typography */
.username {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

.details {
  margin: 2px 0 0 0;
  font-size: 0.9rem;
  color: #007bff;
  cursor: pointer;
}

.details:hover {
  text-decoration: underline;
}
